# Django settings
SECRET_KEY=
DJANGO_SETTINGS_MODULE=
# Database settings
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
# Email settings
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
DEFAULT_FROM_EMAIL=
# Firebase settings
FIREBASE_CRED_FILE=
# Google Maps API Key
GOOGLE_MAP_API_KEY=
# Payment Gateway Settings (Flutterwave, Paystack)
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_REDIRECT_URL=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
PAYSTACK_REDIRECT_URL=
